// Detil Input Component Styles

.p-error {
  color: #f44336;
  font-size: 12px;
  display: block;
  margin-top: 4px;
}

.p-info {
  color: #2196F3;
  font-size: 11px;
  display: block;
  margin-top: 4px;
  font-style: italic;
}
